BasedOnStyle: LLVM

AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignOperands: false
AlignTrailingComments: false
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
